
.main-div{
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 100%;
    width:100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #111111, #474747,);
    
    .title-div{
        display: flex;
        justify-content:center;
        background-color: #525252ab;
        width: 800px;
        height: 600px;
        border: 2px solid #fff;
        h1{
            padding: 20px 0 0 0;
            color: #fff;
        }
    }
}


